body{
  background-color: Aqua;
  font-family: arial, helvetica, sans-serif;
margin: 10px 40px 60px 20px;
}
h1, h2{
  color:purple;
  font-size: 45px;
  text-align: center;
}
p, li{
    color:Gray;
    font-size: 30px;
    text-align: center;
}
  #header {
    border: 7px solid purple;
    padding: 30px;
    font-weight: bold;
}

.images {

}
